@import './global.css';
@import './fonts.css';
@import './flexbox.css';
@import './header.css';
@import './notification.css';

.welcome-container {
    padding-block: 30px;
    background-color: rgb(44, 44, 50);
}

.welcome-container .container {
    display: grid;
    grid-template-columns: 1fr minmax(0, 2fr);
}

.welcome-container .container div:first-child {
    text-align: center;
}

.welcome-container .img-prev{
    width: 100%;
}

.welcome-container h1 {
    color: white;
}

.welcome-container h1 span {
    font-weight: normal;
}

.welcome-container p {
    color: rgba(255,255,255,.6);
}